.app_header{
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid #dcdcdc;
}
.task_input{
    color:#000;
    background-color: #dcdcdc;
    margin-bottom:15px;
    font-size: 20px;
    padding:8px 12px;
    border-radius: 5px;
    width:100%;
    border:1px solid #dfe3e6;
}
.task_input::placeholder{
    color:#686868;
}
.task_buttons {
    display: flex;
    justify-content: space-between;
}
.task_select{
    margin-left: 70px;
}
.task_status{
    font-size: 16px;
    border:1px solid #999;
     border-radius: 5px;
     width:120px;
     height:40px;
     padding:0 5px;
}
.task_submit{
    background-color: #6457f9;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
    border-radius: 5px;
    height:40px;
    padding:3px 13px;
    margin-left:10px;
    border:none;
    cursor: pointer;
}